// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// login
.gradient-custom-2 {
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
/*IMGEN JUMBOTRON*/



    /*And then change */
      .img-responsive {
        display: flex;
        height: auto;
        max-width: 25%;
        align-items: center;
        justify-content: center;

    }
    /*To */

    table {
        table-layout: fixed;
        word-wrap: break-word;


    }
.centrado{
    display:grid;
    place-items: center;
}
