// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// login
.gradient-custom-2 {
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}




table {
    table-layout: fixed;
    word-wrap: break-word;


}


// welcome
.highlight {
    background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
    border-radius: 6px;
    padding: 3px 6px;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    color:#212B35;
}

.bajadaTitulo {
    font-size: 1.5rem;
    color: #526B84;
}


@media (max-width: 767px) {

    // Align text to center.
    .titulo, .bajadaTitulo{
      text-align: center;
    }
  }
