

.quote {
    background-color:$rojoQuote;
    color:$quoteText;
    text-align: $positionQuote;
    font-family: $fontFamily;
    font-size: 1.5rem;

}
.quoteAutor{
    font-size: 1rem;
    font-style: italic;
    color:$amarillo;



}
