:root {
    --fondoSide:#222E3C;
    --colorAmarillo:#f8b739;
    --colorResaltado:#00eeff;
    --separdor: #ffffff1a;
    --fontSize: 1rem;
    --colorFont:#ffffff;
    --colorBotonAmarillo:#f8b739;
    --colorHoverBotonAmarillo:#666564;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/*LINKS SIN LINEA INFERIOR*/
#sidebar a{
    text-decoration: none!important;
}

#sidebar {
    min-width: 16.5rem;
    max-width: 16.5rem;
    background: var(--fondoSide)!important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar ul li {
    font-size: var(--fontSize);
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}
/*SEPARADOR DE CATEGORIAS*/

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: var(--colorFont);
    border-bottom: 1px solid var(--separdor);
}

/*HOVER DE CATEGORIAS */
#sidebar ul li a:hover {
    color: var(--colorResaltado);
}

#sidebar ul li.active>a {
    background: transparent;
    color: var(--colorAmarillo);
}

/*RESPONSIVE BAR*/
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.btn-primary {
    background: var(--colorBotonAmarillo);
    border-color: var(--colorBotonAmarillo);
}

.btn.btn-primary:hover
 {
    background: var(--colorHoverBotonAmarillo) !important;
    border-color: var(--colorHoverBotonAmarillo)!important;
}